.common_btn{
  /*min 131px, max:197px */
  width: clamp(8.188rem, 7.009rem + 5.89vw, 12.313rem); 
  /* min 42, max 50 */
  height: clamp(2.625rem, 2.482rem + 0.71vw, 3.125rem);
  background-color: var(--primary-color-2);
  color: white;
  width: clamp();
  /* min:16px max:20px */
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);    
  font-weight: 600;   
  border: none;
  /* min:8px max 12px */
  border-radius: clamp(0.5rem, 0.429rem + 0.36vw, 0.75rem);
}
.btn-bg-color-black{
  background-color: black;
}